﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Money Box</h1>
            <form action="/" method="post">
                <input readonly type="number" name="inputCoin" value="" id="label" />
                <button name="addCoin" id="btnAddCoint">Add Coin</button>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("#btnAddCoint").on("click", function (e) {
            //alert();
            e.preventDefault();
            $.post("/Home/AddCoin/", null, function (value) {
                $("#label").val(value);
                //console.log(value);
            });
            $.get("/Home/GetMoneyBox/", null, function (value2) {
                console.log(value2);
                $("#label").val(value2);
            })
        })
    </script>
    }